.title {
    font-size: 20px;
    font-weight: 800;
    margin: 13px 0;
    color: #777;
}

.text {
    margin: 21px 0;
    font-size: 16px;
    color: rgb(113 113 118);
}
@media only screen and (max-width: 450px){
    
}