.container {
    padding: 30px 20px;
}

.grid {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
}

.gridCol {
    width: 50%;
}

.img {
    height: 92%;
    border-radius: 10px;
    width: 90%;

}

.banner {
    display: flex;
    position: relative;
    background: white;
    height: 100%;
    width: 100%;
    width: 70%;
    border-radius: 35px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
}

.background {
    height: 102%;
    position: absolute;
    width: 102%;
    z-index: -17;
    top: 0px;
    right: -15px;
    background: black;
    border-radius: 28px;

}

@media only screen and (max-width: 450px) {
    .grid {
        display: block;
    }

    .gridCol {
        width: 100%;
    }

    .banner {
        width: 85%;
        border: 0;
        padding: 15px;
    }

    .background {
        height: 106%;
        width: 107%;
        z-index: -17;
        top: -3px;
        right: -18px;
    }
}