.container {
    padding: 30px 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gridCol {
    width: 50%;
}

.img {
    height: 92%;
    border-radius: 10px;
    width: 90%;

}

.banner {
    display: flex;
    height: 100%;
    width: 100%;
    width: 70%;
    border-radius: 35px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
}
.background{

}