.counter {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 22px;
    font-weight: 300;
    color: #777;
}

@media only screen and (max-width: 450px) {
    .title {
        font-size: 24px;
        margin-top: 30px;
    }
    .text{
        font-size: 16px;
    }
}