.heading{
    text-align: center;
    margin-bottom: 50px;
}
.artical{
    display: flex;
    padding: 13px;
    margin: 20px auto;
    width: 90%;
    align-items: center;
    border: 1px solid black;
    border-right: 5px solid black;
    border-bottom: 6px solid black;
    border-radius: 18px;
}
.link{
    font-size: 18px;
    color: black;
    position: relative;
}
.link:hover{
    text-decoration: underline;
}
.time{
    width: 17%;
    color: rgb(97, 28, 97);
}
.h2{
    font-size: 18px;
    font-weight: 400;
}
.image{
    width: 36%;
    height: auto;
    left: 100px;
    top: 70px;
    position: absolute;
    z-index: 10;
    display: none;
}