.underline {
    margin: 30px 0 50px 0;
    border: 1px solid #1b1b1b;
}

.copy {
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-between;
}

.copy h2 {
    display: flex;
    align-items: center;
}

.icon {
    color: pink;
}
@media only screen and (max-width: 750px){
    .copy{
        font-size: 12px;
    }
}
@media only screen and (max-width: 450px){
    .underline{
        margin: 27px auto 10px auto;
        width: 96%;
        
    }
    .copy{
        padding: 20px 7px;
        font-size: 6px;
    }
}