.container {
    padding: 30px 20px;
}

.card {
    display: flex;
    border-radius: 22px;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid black;
    position: relative;
}

.main {
    margin-top: 20px;
}

.background {
    height: 103%;
    position: absolute;
    width: 101%;
    z-index: -1;
    top: 1px;
    right: -13px;
    background: black;
    border-radius: 28px;
}

.thumbnail {
    height: auto;
    width: 50%;
    cursor: pointer;
    border-radius: 20px;
}

.classes.card_body h3 {
    font-size: 25px;
}

.headingText {
    font-size: 19px;
    color: #992999;
    font-weight: 500;
    margin: 10px 0;
}

.secendText {
    font-size: 33px;
    margin-bottom: 12px;
    cursor: pointer;
    color: black;
}

.secendText:hover {
    text-decoration: underline;
}

.text {
    font-size: 17px;
    color: #5c5c5c;
}

.icon {
    font-size: 35px;
    color: black;
}

.cardFooter {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.footerButton {
    margin: 0 20px;
    color: white;
    padding: 10px 19px;
    background: black;
    border-radius: 13px;
    font-size: 17px;
    cursor: pointer;
}

.singelCards {
    display: flex;
    margin: 70px 0;
    padding: 0 20px;
    gap: 50px;

}

.singelCard {
    border: 1px solid black;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 12px 0;
}

.singelBackground {
    height: 103%;
    position: absolute;
    width: 101%;
    z-index: -1;
    top: 1px;
    right: -13px;
    background: black;
    border-radius: 28px;
}

.singelThumbnail {
    width: 90%;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px auto;
}

.singelCardBody {
    display: flex;
    flex-direction: column;
    padding: 0 26px;
}

.singelHeadingText {
    color: #992f9f;
    font-weight: 400;
}

.singelFooterButton {
    text-decoration: underline;
    color: black;
    font-weight: normal;
}

.singelCardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
    .card{
        width: 80%;
        display: block;
    }
    .thumbnail{
        width: 100%;
    }
    .secendText{
        font-size: 21px;
    }
}
@media only screen and (max-width: 460px){
    .singelCards{
        display: block;
    }
    .singelCard{
        width: 90%;
        margin: 15px auto;
    }
}