.container {
    display: flex;
    width: 100%;
}

.banner,
.textFild {
    width: 50%;
}

.textFild {
    margin-top: 100px;
}

.info {
    margin-top: 15px;
    color: #1b1b1b;
    font-size: 18px;
    margin-bottom: 15px;
}

.resume,
.contact {
    padding: 12px 40px;
    font-weight: 600;
    border-radius: 13px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: #1b1b1b;
    color: white;
    margin-right: 10px;
    border: 1px solid #1b1b1b;
}
.resume:hover{
    color: #1b1b1b;
    background-color: white;
    border: 1px solid #1b1b1b;
}
.contact{
    background-color: white;
    color: #1b1b1b;
    border: none;
    text-decoration: underline;
}

@media only screen and (max-width: 450px){
    .container {
        display: block;
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .background{
        width: 100%;
    }
    .textFild{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}