.icon {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}
.link{
    padding: 0;
    color: black;
}

/* responsive nav bar */
@media only screen and (max-width: 550px){
    .mobile{
        display: none;
    }
}